/*
  Icon Font: scapozzi-www
*/

@font-face {
  font-family: "scapozzi-www";
  src: url("./scapozzi-www.eot");
  src: url("./scapozzi-www.eot?#iefix") format("embedded-opentype"),
       url("./scapozzi-www.woff") format("woff"),
       url("./scapozzi-www.ttf") format("truetype"),
       url("./scapozzi-www.svg#scapozzi-www") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "scapozzi-www";
    src: url("./scapozzi-www.svg#scapozzi-www") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-dummy:before {
  display: inline-block;
  font-family: "scapozzi-www";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-dummy:before { content: "\f100"; }
