.c {
  padding-left: 5.555555555555555%;
  padding-right: 5.555555555555555%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1400px) {
  .c {
    max-width: 80%;
    padding-left: 0;
    padding-right: 0;
  }
}
.wide {
  width: 112.5%;
  margin-left: -6.25%;
}
@media (min-width: 1400px) {
  .wide {
    width: 125%;
    margin-left: -12.5%;
  }
}
.img {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img >img {
  display: block;
  visibility: hidden;
}
html,
body {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 400 100%/1.5 arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media (min-device-width: 768px) {
  body {
    font-size: 120%;
  }
}
@media (min-device-width: 1024px) {
  body {
    font-size: 130%;
  }
}
svg,
object,
img {
  max-width: 100%;
}
img[src][width] {
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
.bigimg {
  display: block;
}
.container {
  text-align: center;
  width: auto;
  margin: 0 auto;
}
.h {
  line-height: 1.2;
  text-transform: uppercase;
}
.h1 {
  letter-spacing: 1px;
  font-weight: 100;
}
.h2 {
  letter-spacing: 1px;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
/* clearfix */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:before {
  clear: both;
}
/* vcenter */
.vcenter {
  white-space: nowrap;
}
.vcenter >* {
  white-space: normal;
}
.vcenter:before,
.vcenter >* {
  display: inline-block;
  vertical-align: middle;
}
.vcenter:before {
  content: "";
  height: 100%;
}
.vcenter {
  word-spacing: -0.25em;
}
.vcenter >* {
  word-spacing: normal;
}
.icon:before {
  content: "";
  font-family: "scapozzi-www";
  display: inline-block;
  vertical-align: middle;
}
/*.in{vertica-align:top;}*/
.hr {
  margin-left: 3.5em;
  margin-right: 3.5em;
  height: 1px;
  background-color: #ccc;
  border: none;
}
@media (min-width: 768px) {
  .hr {
    margin-left: 11em;
    margin-right: 11em;
  }
}
@media (min-width: 1024px) {
  .hr {
    margin-left: 21em;
    margin-right: 21em;
  }
}
.title {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  background-color: #342e35;
}
.rollover {
  transition-duration: 1s;
  background: #121013;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  z-index: 2;
  opacity: 0;
}
.rollover:hover {
  opacity: 0.7;
  transition-duration: 1s;
}
.rollover .subinner {
  display: block;
}
.inner {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 219%;
  margin: 0;
  line-height: 1.2;
  border-bottom: 1px solid #fff;
}
.subinner {
  margin: 0;
  font-style: italic;
}
/*
section head
*/
section.head .group {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
section.head .avatar {
  width: 5em;
  border-radius: 100%;
  border: 0.1em solid #999;
}
@media (min-width: 320px) {
  section.head .avatar {
    width: 7em;
  }
}
@media (min-width: 768px) {
  section.head .avatar {
    width: 9em;
  }
}
section.head .icon {
  color: #333;
  font-size: 700%;
}
section.head .typo {
  font-size: 300%;
  margin: 0;
  color: #666;
  font-family: "savoyeregular";
}
@media (min-width: 768px) {
  section.head .typo {
    font-size: 400%;
  }
}
section.head .h1 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  font-family: "roboto_slablight";
  font-size: 150%;
}
section.head .h2 {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-family: "roboto_slablight";
}
section.head .p {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-family: "roboto_slabthin";
}
section.head .infos-head {
  border-bottom: 1px solid #ccc;
}
section.head .infos-head .h2 span {
  display: block;
}
section.head .contact-top p {
  font-size: 80%;
  font-family: "roboto_slablight";
}
section.head .contact-top p:first-child {
  margin-bottom: 0;
  margin-top: 0.1em;
}
section.head .contact-top p:last-child {
  margin-top: 0;
}
@media (min-width: 1024px) {
  section.head .typo {
    display: none;
  }
  section.head .in {
    width: 100%;
    text-align: left;
  }
  section.head .avatar {
    width: 7em;
  }
  section.head .infos-head {
    border: none;
  }
  section.head .h2 {
    display: inline-block;
    font-size: 170%;
  }
  section.head .p {
    display: inline-block;
    font-size: 170%;
  }
  section.head .avatar,
  section.head .avatar +* {
    display: inline-block;
    vertical-align: middle;
  }
  section.head .avatar {
    margin-right: 1em;
  }
}
/*
section webdesign
*/
section.webdesign {
  padding-top: 1.5em;
}
section.webdesign .h1 {
  margin: 0;
  font-family: "roboto_slablight";
  color: #fff;
  font-size: 150%;
}
section.webdesign .p {
  margin-bottom: 1.5em;
  line-height: 1.2;
  font-size: 90%;
  color: #666;
  transforme-text: uppercase;
}
section.webdesign a {
  display: block;
  position: relative;
}
section.webdesign .slides .img >img {
  width: 100%;
}
section.webdesign .slide {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #ccc;
}
section.webdesign .slide a {
  padding-top: 69.71428571428572%;
  position: relative;
}
section.webdesign .slide a >.in {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@media (min-width: 1024px) {
  section.webdesign .img {
    display: block;
  }
  section.webdesign .slide {
    width: 50%;
  }
  section.webdesign .inner {
    font-size: 100%;
  }
}
section.webdesign #contentRef {
  display: none;
}
section.webdesign #contentRef p {
  margin: 0;
}
section.webdesign .shadow {
  position: relative;
}
section.webdesign .shadow:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1em solid #fff;
  border-right: 1em solid #fff;
  pointer-events: none;
}
/*
section steps
*/
section.steps {
  vertical-align: top;
  height: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
/*.end {padding-bottom:2.5em;}*/
/* icons steps */
}
section.steps .step {
  margin: 0 auto;
}
section.steps .h1 {
  margin-top: 0;
  font-family: "roboto_slablight";
}
section.steps p {
  font-family: "roboto_slablight";
  font-size: 95%;
  letter-spacing: 0.1em;
  margin-top: 0;
}
section.steps .subtitle {
  font-style: italic;
  font-size: 80%;
  vertical-align: bottom;
}
section.steps .icon {
  color: #333;
  font-size: 700%;
}
section.steps .icon:before {
  line-height: 1;
}
section.steps .icon.speech:before {
  content: "\f106";
}
section.steps .icon.draft:before {
  content: "\f102";
}
section.steps .icon.development:before {
  content: "\f101";
}
@media (min-width: 1024px) {
  section.steps .step {
    display: inline-block;
    width: 33.333333%;
    vertical-align: middle;
  }
}
/*
section experiments
*/
section.experiments .h1 {
  margin-top: 0;
  font-size: 150%;
}
section.experiments .p {
  margin-bottom: 0;
}
section.experiments .title {
  background-color: #342e35;
}
section.experiments .h1 {
  margin-bottom: 0;
  color: #fff;
  font-family: "roboto_slablight";
}
section.experiments .h2 {
  color: #666;
  font-family: "roboto_slablight";
  font-size: 100%;
}
section.experiments .p {
  line-height: 1.2;
  font-size: 90%;
  color: #a6a8b2;
}
section.experiments .item {
  display: inline-block;
  vertica-align: top;
  width: 100%;
}
section.experiments .item >a {
  display: block;
}
@media (min-width: 320px) {
  section.experiments .item {
    display: block;
    width: 100%;
  }
}
@media (min-width: 768px) {
  section.experiments .item {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}
@media (min-width: 1024px) {
  section.experiments .item {
    display: inline-block;
    width: 33.333333%;
  }
}
section.experiments .img {
  display: block;
}
section.experiments .img-and-video {
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}
section.experiments .img-and-video >.in {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
section.experiments .img-and-video .img,
section.experiments .img-and-video video {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
section.experiments .img-and-video .img {
  opacity: 1;
}
section.experiments .img-and-video video {
  opacity: 0;
}
section.experiments .img-and-video .img,
section.experiments .img-and-video video {
  transition: opacity 0.3s;
}
section.experiments .img-and-video:hover .img {
  opacity: 0;
}
section.experiments .img-and-video:hover video {
  opacity: 1;
  z-index: 1;
}
/* 
section graphics
 */
section.graphics .title {
  background-color: #342e35;
}
section.graphics .h1 {
  margin: 0;
  color: #fff;
  font-family: "roboto_slablight";
  font-size: 150%;
}
section.graphics .size-inner {
  margin: 0;
  color: #fff;
  font-family: "roboto_slablight";
  font-size: 100%;
}
section.graphics .h2 {
  font-family: "roboto_slablight";
  font-size: 80%;
  font-weight: 100;
}
section.graphics .compo {
  display: block;
  width: 100%;
  vertical-align: top;
  position: relative;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
}
section.graphics .img {
  vertical-align: top;
  display: block;
}
section.graphics .subinner {
  margin: 0;
  font-style: italic;
  font-size: 80%;
}
@media (min-width: 768px) {
  section.graphics .compo {
    display: inline-block;
    width: 20%;
  }
}
/*
section footer
*/
section.footer {
  padding-top: 1.5em;
/* icons steps */
}
section.footer .h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "roboto_slablight";
}
section.footer p {
  font-size: 90%;
  font-family: "roboto_slablight";
}
section.footer .socials .icon {
  display: inline-block;
  font-size: 200%;
  color: #333;
}
section.footer .skype:before {
  content: "\f105";
}
section.footer .behance:before {
  content: "\f100";
}
section.footer .linkedin:before {
  content: "\f104";
}
/*
section files
*/
section.list p {
  font-size: 80%;
  font-family: "roboto_slablight";
  border-top: 1px solid #ccc;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
/*
lightbox
*/
.lightbox {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0,0,0,0.8);
  overflow: auto;
}
.lightbox {
  text-align: center;
}
.lightbox {
  white-space: nowrap;
}
.lightbox * {
  white-space: normal;
  white-space: initial;
}
.lightbox:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.lightbox img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
/* max-height:100%;*/
}
.lightbox nav {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0.5em;
}
.lightbox nav a+a {
  margin-left: 0.25em;
}
.lightbox .kbd {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.5em;
  border-radius: 3px;
}
.lightbox kbd {
  font-family: inherit;
  font-size: 50%;
  vertical-align: middle;
}
.lightbox kbd:before {
  content: "(";
}
.lightbox kbd:after {
  content: ")";
}
.lightbox a {
  text-decoration: none;
  opacity: 0.5;
}
.lightbox a:hover,
.lightbox a:active,
.lightbox a.active {
  opacity: 1;
}
.lightbox a.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.lightbox .close {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  margin: 0.5em;
}
.lightbox .demo {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  margin: 0.5em;
  background: #342e35;
  color: #fff;
  opacity: 0.8;
  text-align: left;
  max-width: 60%;
}
.lightbox .demo:after {
  content: attr(href);
  display: block;
  font-size: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.lightbox .demo:hover:after {
  max-width: 99em;
}
.lightbox .meter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 0%;
  height: 3px;
  background: #feef70;
}
