/*
  Icon Font: my-website
*/

@font-face {
  font-family: "my-website";
  src: url("./my-website.eot");
  src: url("./my-website.eot?#iefix") format("embedded-opentype"),
       url("./my-website.woff") format("woff"),
       url("./my-website.ttf") format("truetype"),
       url("./my-website.svg#my-website") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "my-website";
    src: url("./my-website.svg#my-website") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-behance:before,
.icon-development:before,
.icon-draft:before,
.icon-dummy:before,
.icon-linkedin:before,
.icon-skype:before,
.icon-speech:before {
  display: inline-block;
  font-family: "my-website";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-behance:before { content: "\f100"; }
.icon-development:before { content: "\f101"; }
.icon-draft:before { content: "\f102"; }
.icon-dummy:before { content: "\f103"; }
.icon-linkedin:before { content: "\f104"; }
.icon-skype:before { content: "\f105"; }
.icon-speech:before { content: "\f106"; }
